.header {
    padding: 10px;
    background-color: #f4c814;
}

.main {
    padding: 10px;
    background-color: #fffb98;
}

.sublink {
    cursor: pointer;
    border: solid 1px;
    padding:2px;
    border-radius: 5px;
   /*  text-decoration: underline; */
}

.questionContainer {
    margin-bottom: 5px;
    background-color:#d3e5f1;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
}

.Question {
    font-style: italic;
    font-weight: bold;
}

.Answer {
    color: purple;
    margin-left: 10px;
    margin-bottom:10px;
}

.Edit {
    width:auto;
    position: absolute;
    left: 10px;
    color: blue;
    cursor: pointer;
    bottom:2px;
    font-size:10px;
    display:inline-block;
    margin-left:10px;
    text-decoration: underline;
}
.Type {
    width: auto;
    margin-top:10px;
/*     display: flex;
    justify-content: flex-end; */
    display:inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #ff005c;
    color: white;
    font-size:10px;
    cursor: pointer;
    margin-right: 2px;
/*     position: absolute;
    right: 5px;
    bottom:5px; */
}

.Pager {
    /*margin-top: 20px;*/
    padding: 10px;
    text-align: center;
    margin:0 auto;
}

.Previous,.Next {
    display: inline-block;
    font-size: 16px;
    width: 20px;
    padding: 2px;
    border: solid 1px #5b5a39;
    background-color:#97b2d6;
    cursor: pointer;
}

.Previous:hover, .Next:hover {
    background-color:#2e55af;
}

.PageItem {
    display: inline-block;
    font-size: 16px;
    width: 20px;
    padding: 2px;
    border: solid 1px #5b5a39;
    background-color:#f9aa7f;
    color: black;
    cursor: pointer;
}

.PageItem:hover{
    background-color: #5c0949;
    color: white;
}

#tagbutton {
    width:auto;
    height: auto;
    padding: 5px;
    display: inline-block;
    
}

#taglist{

display: none;
   width: 100%;
   height: auto;
   padding: 2%;
   border:solid #cccccc 1px;
   margin-bottom: 10px;
}

#tagbutton:hover ~ #taglist{
        display: block;
}

#taglist:hover{

    display: block;
}

.taglistItem {
    width: auto;
    margin-top:10px;
    margin-right:5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ff005c;
    color: white;
    font-size:10px;
    display: inline-block;
  
    cursor: pointer;
}