<div>
    <header class="header">
        <div style="display:inline-block;">
            
            <h3>
                <span class="sublink" style="color: #ff005c;" 
                (click)="setSubject('angular')" 
                [ngStyle]="getBgColor('angular')">Angular</span>

                <span class="sublink" style="color: #000666;"
                 (click)="setSubject('react')" 
                 [ngStyle]="getBgColor('react')">React</span>

                <span class="sublink" style="color: #008000;"
                 (click)="setSubject('node')" 
                 [ngStyle]="getBgColor('node')">Node</span>

                 <span class="sublink" style="color: #93018d;"
                 (click)="setSubject('javascript')" 
                 [ngStyle]="getBgColor('javascript')">Javascript</span>
                 
            </h3>
        </div>
        
        <div style="display:inline-block; float:right;">
            <button class="btn btn-primary" (click) ="addNewQuestion()">New Question</button>
        </div>
        <div style="text-align:right">
               <button class="btn btn-primary" style="background-color:blueviolet !important; border-radius:20px" (click) ="filterBySection()">Reset Filter</button>
        </div>    
    </header>

    <div>
            <div id="tagbutton">
                <img src="../../assets/expand.png" width="28"/>
            </div>
            <div id="taglist">
                    <div class="taglistItem" 
                    *ngFor="let tag of tagsArr" 
                    (click)="filterBySection(tag.section)">{{tag.section}}</div>
            </div>
        </div>    


    <main class="main">
        <div class="questionContainer" *ngFor="let QA of questionAnswerArrPager; let i = index;">
            <div class="Question">{{((currentPage-1) * itemPerPageCount) + i+1}}. {{QA.question}}</div>
           <!--  <div class="Answer" [innerHTML]="QA.answer"></div> -->
           <!--  <div class="Answer" [innerHTML]="QA.answer.join('<br/>')"></div> -->
            <div class="Answer" *ngFor="let s of QA.answer">
                {{s}} <br/>
            </div> 
            <div class="Type" (click)="filterBySection(QA.section)">{{QA.section}}</div>
            <div class="Edit" 
                (click)="editQuestion(QA)"
            >Edit
            </div>
        </div> 
        <!-- (click)="editQuestion(QA,((currentPage-1) * itemPerPageCount) + i)" -->
       <!--  <router-outlet></router-outlet> -->

        <div class="Pager">
                <span class="Previous" (click)="preparePager(currentPage-1)"> <b><</b> </span>
                <span class="PageItem" *ngFor="let p of pageCount" (click)="preparePager(p)" [ngStyle]="getActiveProps(p)">{{p}}</span>
                <span class="Next"  (click)="preparePager(currentPage+1)"> <b>></b> </span>
        </div>
    </main>
</div> 