<label>Server:</label>
<!-- <input type="text" 
class="form-control" 
(input) = "onInputServer($event.target.value)"/>
<p>{{serverName}}</p> -->

<!-- <input type="text" 
class="form-control" 
[(ngModel)]="serverName"/>
<p>{{serverName}}</p> -->

<!-- <input type="text" 
class="form-control" 
#inputServerName (input) = "onInputServer(inputServerName.value)"/>
<p>{{serverName}}</p> -->

<input type="text" 
class="form-control" 
#inputServerName (input) = "onInputServer('bla')"/>
<p>{{serverName}}</p> 

<button class="btn btn-primary" value="Add Server" (click) ="onServerCreate()">Add server</button>


<p *ngIf="serverCreated; else noServer;" [innerHtml]="serverStatusMessage | safeHtml"></p>

<ng-template #noServer>

   <p [innerHtml]="serverStatusMessage | safeHtml"></p>
</ng-template>

<app-server *ngFor="let server of servers; "  [user]="userName"></app-server>

<hr/>

<p *ngFor="let item of testArr;let i = index;" [ngStyle]="{backgroundColor: i%2 ===0 ? 'orange': 'silver'}">
  {{item}} - {{i}}
</p>


<!-- <div class="app-server">
  <div>TEST</div>
</div> -->
