
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" style="cursor: pointer" test-directive>Hello World, {{serverHead}}</a>
          </div>
          <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/"  style="cursor: pointer">Home</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  routerLink="/servers" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Servers</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/users" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Users</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/questions-answers" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Questions</a></li>
          </ul>
        </div>
      </nav>

  <div class="row">
    <div class="col-xs-12">
       <!-- <app-games></app-games> -->
      <!--   <app-servers (onServerCreatedName)="addNameToHeader($event)"></app-servers> -->
      

      <router-outlet></router-outlet>
      
    </div>
  </div>
</div>

  <div class="row">
      
    <div class="col-xs-6">
      {{serverMessage.msg}} == {{serverMessage.from}}
    </div>
    <div class="col-xs-6">
        <input type="text" [(ngModel)]="socketUsername" placeholder="User name"/>
        <input type="button" class="btn" style="background-color:green;" value="LOGIN" (click)="login()"/>
    </div>        
  </div>
 
  <div [innerHTML]="testHtml | safeHtml"></div>





<!-- <div style="text-align:center">
  <input type="text" [(ngModel)]="title"  name="t_title"/>
  <input type="button"  value="Click" (click) ="swapTDisplay(tmvar)"/>
  <h1>
    Welcome {{ title }}!
  </h1>

  <div #tmvar>
    Template variable
    <div [innerHTML]="testHtml | safeHtml"></div>
  </div>

  <app-servers></app-servers>

  </div>
 -->



