<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1>Hello World</h1>
        <hr/>
        <app-servers></app-servers>
    </div>
  </div>
 
</div>




<!-- <div style="text-align:center">
  <input type="text" [(ngModel)]="title"  name="t_title"/>
  <input type="button"  value="Click" (click) ="swapTDisplay(tmvar)"/>
  <h1>
    Welcome {{ title }}!
  </h1>

  <div #tmvar>
    Template variable
    <div [innerHTML]="testHtml | safeHtml"></div>
  </div>

  <app-servers></app-servers>

  </div>
 -->



