<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1 class="test-bind" test-directive >Hello World, {{serverHead}}</h1>
        <hr/>
      <!--   <app-servers (onServerCreatedName)="addNameToHeader($event)"></app-servers> -->

      <router-outlet></router-outlet>
      <a routerLink = "/" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">home</a>
    </div>
  </div>
</div>

  <div class="row">
      
    <div class="col-xs-6" >
      {{serverMessage.msg}} == {{serverMessage.from}}
    </div>
    <div class="col-xs-6">
        <input type="text" [(ngModel)]="socketUsername" placeholder="User name"/>
        <input type="button" class="btn" style="background-color:green;" value="LOGIN" (click)="login()"/>
    </div>
  </div>
 





<!-- <div style="text-align:center">
  <input type="text" [(ngModel)]="title"  name="t_title"/>
  <input type="button"  value="Click" (click) ="swapTDisplay(tmvar)"/>
  <h1>
    Welcome {{ title }}!
  </h1>

  <div #tmvar>
    Template variable
    <div [innerHTML]="testHtml | safeHtml"></div>
  </div>

  <app-servers></app-servers>

  </div>
 -->



